
  
  <div class="row">
    <div class="col-md-8 offset-md-2" id="body-container">

      User Profile For: {{user.username}}

      {{#if user.movies}}

        <br>Movies That "{{user.username}}" Suggested: <br>

        {{#each user.movies}}
          &nbsp; &nbsp; &bull; &nbsp;{{this.name}} <br>
        {{/each}}
      
      {{/if}}
    </div> 
  </div>